.navbar {
    display: flex;
    gap: 30px;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
}

.search {
    width: 75em;

    padding: 15px;
    border-radius: 5px;

    outline: none;
    border: none;

    font-size: 16px;

    color: white;
    background-color: #635579;
}

.search::placeholder{
    color: rgb(200, 200, 200);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance:none;
}

.addNew {
    padding: 15px;
    border-radius: 5px;

    outline: none;
    border: none;

    background-color: #ba85fb;
}